{#
/**
 * @file
 * Default theme implementation for WSO2 login button.
 *
 * Available variables:
 * - url: The URL for the WSO2 login.
 * - label: The button label.
 *
 * @ingroup themeable
 */
#}
<div class="wso2-auth-login-button">
  <a href="{{ url }}" class="wso2-auth-button">{{ label }}</a>
</div>
